{
  "env": {
    "development": {
      "presets": [
        ["env", { "targets": { "node": 6 } }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": [
        ["env", { "targets": { "node": 6 } }],
        "minify"
      ],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
